<html>
  <head>
    <title>GOSSIP - Contact</title>
  </head>
  <body>
  
    <h1 class="display-4 text-center mt-3"> Formulaire de contact </h1>

    <div class="container-md">
    <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nom Prénom</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Pourquoi m'écrire ?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Message d'amour</option>
        <option>Problème technique</option>
        <option>Réclamation</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    </form>
    <button type="submit" class="btn btn-info">Envoyer</button>
    </div>
  </body>
</html>