body {
    font-family: Times, serif;
    line-height: 1.6;
    color: #444444;
    background-color: #EEEEEE;
    margin: 40px auto;
    max-width: 650px;
}
h1 {
    font-size: 36px;
    line-height: 1.6;

}

h2 {
    font-size: 27px;
    line-height: 1.6;
}
h3 {
    line-height: 1.6;
}
p {
    font-size: 18px;
}