<% if user_signed_in? %>

<div class="container">
  <div class="row">
    <div class="col-4 mb-3">   
      <%= button_to "Receive an email", email_index_path, data:{method: "POST"}, class:"btn btn-success mb-2", remote: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <ul class="list-group" id="receveid-mail">
        <% @email.order(:created_at).each do |email| %>
          <%= render 'email', email: email %>
        <% end %>
      </ul>
    </div>
    <div class="col-8">
      <div id="body-mail">

      </div>
    </div>
  </div>
</div>

<% end %>

