<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @participant.first_name %> !</h1>
    <p>
      Tu viens de t'inscrire à <%= @event.title %>.
    </p>
    <p> À très vite sur Z-Eventbrite.com !
  </body>
</html>