<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            <li class="breadcrumb-item"><a href="/gossips/new">Ajouter Gossip</a></li>
        </ol>
    </nav>
    <h1 style="text-align : center;">Mon super site de gossip!</h1>

    <div class="container-md">
    <% i = 1 %>
    <% gossips.each do |gossip| %>
      <div class="card mt-2">
        <h5 class="card-header"><%= gossip.author %></h5>
        <div class="card-body">
          <h4 class="card-title"><%= gossip.content %></h4>
          <a href="/gossips/<%= (i-1) %>" class="btn btn-primary">Gossip n° <%=i%></a>
        </div>
      </div>
    <% i += 1%>
    <% end %>
    <a class="btn btn-primary mt-3 mb-5 d-flex justify-content-center" href="/gossips/new" role="button">Ajouter Gossip</a>
    </div>
  </body>
</html>